.error-message__container {
  background-color: var(--color-white);
  border-radius: var(--border-radius-md);
  color: var(--color-error);
  margin: var(--spacing-lg);
  padding: var(--spacing-sm);
  text-align: center;
}
