/* Linha de funcionário */
.employee-row {
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-border);
  transition: background-color var(--transition-default);
}

.employee-row--expanded {
  border-bottom: none;
}

/* Células básicas */
.employee-row__cell {
  color: var(--color-text-secondary);
  padding: var(--spacing-sm) var(--spacing-md);
}

/* Oculta colunas 3 a 5 em telas menores */
.employee-row__cell:nth-child(n+3):nth-child(-n+5) {
  display: none;
}

/* Imagem do perfil */
.employee-row__image {
  border-radius: 50%;
  height: 40px;
  object-fit: cover;
  overflow: hidden;
  width: 40px;
}

/* Contêiner do nome com ícone */
.employee-row__name-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/* Ícone de seta */
.employee-row__chevron {
  color: var(--color-primary);
  height: var(--spacing-sm);
  transition: transform var(--transition-default);
  width: var(--spacing-sm);
}

.employee-row__chevron--rotated {
  transform: rotate(180deg);
}

/* Ajustes para telas maiores */
@media (min-width: 769px) {
  .employee-row__cell:nth-child(n+3):nth-child(-n+5) {
    display: table-cell;
  }

  .employee-row:hover {
    background-color: var(--color-background);
  }

  .employee-row__chevron {
    display: none;
  }

  .employee-row--expanded {
    border-bottom: 1px solid var(--color-border);
  }
}
