.container__subheader {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
}

.container__title {
  color: var(--color-text);
  font-size: 20px;
}

.search {
  position: relative;
  width: -webkit-fill-available;
}

.search__icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-muted);
  pointer-events: none;
}

.search__input {
  border: 1px solid var(--color-border);
  border-radius: 8px;
  font-size: 14px;
  height: 40px;
  padding: 8px 40px 8px 16px;
  outline: none;
  width: -webkit-fill-available;
}

.search__input::placeholder {
  color: var(--color-muted);
}

.table-container {
  background-color: var(--color-background);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
  padding: 0 32px 32px;
}

.table {
  border-collapse: collapse;
  min-width: 300px;
  width: 100%;
}

.table__header {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.table__th {
  padding: 16px 24px;
  text-align: left;
  font-weight: 400;
}

.table__th:nth-child(n+3):nth-child(-n+5) {
  display: none;
}

.table__th:nth-child(2) {
  border-top-right-radius: 8px;
}

@media (min-width: 769px) {
  .container__subheader {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }

  .search {
    width: auto;
  }

  .search__input {
    min-width: 265px;
    width: auto;
  }

  .table-container {
    overflow: hidden;
  }

  .table__th:nth-child(n+3):nth-child(-n+5) {
    display: table-cell;
  }

  .table__th:nth-child(2) {
    border-top-right-radius: 0;
  }

  .table__th:first-child {
    border-top-left-radius: 8px;
    width: 100px;
  }

  .table__th:last-child {
    border-top-right-radius: 8px;
  }
}
